#maincanvas {
	Border:solid black 1px;
}
.outputdiv{
	border:solid black 3px;
        width:50px;
        height:50px;
}
.align_right {
	float:right; margin: 0 15px 15px 0;
}
.align_left {
	float:left; margin: 0 15px 15px 0;
}
.padded {
	margin: 20px 15px 15px 15px;
}
